* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

html {
  background-color: #FFF;
}

li {
  list-style: none;
}

.nav-box {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: start;
}

.card-img {
  width: 50px;
}

.backCloseBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: red;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  font-family: monospace;
  font-size: x-large;
  color: white;
}

/* General Collection Styles */
.collection-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20%;
  border-radius: 35px;
  color: #FFF;
  font-size: x-large;
  position: relative;
}

.collection-container:hover {
  box-shadow: 0px 5px 10px #7884b6;
}

.collection-container img {
  position: absolute;
  width: 17%;
  min-width: 100px;
  top: 0;
  left: 35%;
  z-index: 0;
}

.collection-container h2 {
  font-size: 96px;
  font-weight: 900;
}

.collection-container h3 {
  font-size: 31px;
  font-family: "Poppins", sans-serif;
  font-weight: 750;
}

.collection-container p {
  width: 70%;
  font-size: 17px;
  font-weight: 300;
  line-height: 23px;
  margin-top: 20px;
}

.collection-container-text {
  width: 30%;
  z-index: 1;
}

.collection-btn {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-size: large;
  font-weight: 700;
  background: #FFF;
  margin-top: 50px;
  cursor: pointer;
}

.collection-list {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px 20px 200px;
}

.collection-item {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.collection-item img {
  width: 100%;
  border-radius: 20px;
  display: block;
}

.collection-item h4 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-align: start;
}

.collection-item h4:hover {
  color: rgb(57, 8, 8);
}

/* Home Styles */
.home {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 100px;
}

.home-hero {
  width: 80%;
  height: 80%;
  position: relative;
  margin: 0 auto;
  padding: 80px;
  display: flex;
  justify-content: end;
  border-radius: 15px;
  background: linear-gradient(179deg, rgb(8, 189, 144) 18%, rgb(18, 140, 2) 100%);
}

.home-hero-img {
  width: 920px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  transform: scaleX(-1);
}

.home-hero-text {
  color: #FFF;
  text-align: end;
  z-index: 1;
}

.home-hero-text-s {
  font-size: 40px;
  font-weight: 550;
}

.home-hero-text-m {
  font-size: 75px;
  font-weight: 800;
}

.home-hero-text-l {
  font-size: 140px;
  font-weight: 900;
}

.home-ourserv-box {
  max-width: 1920px;
  margin: 50px auto 0 auto;
}

.home-ourserv-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-ourserv-list-item {
  width: 350px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.serv-name {
  font-size: 16px;
}

.serv-info {
  font-size: 15px;
  color: gray;
}

/* Winter Collection */
.winter-collection-top {
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(0deg, #31384d 9%, #616884 50%);
}

.winter-collection-top .collection-btn {
  color: #616884;
}

/* Summer Collection */
.summer-collection-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(0deg, #224f4d 9%, #307e7a 50%);
}

.summer-collection-top .collection-btn {
  color: #307e7a;
}

/* Footer Styles */
.footer {
  max-width: 1920px;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 100px;
  padding-bottom: 50px;
}

.footer-logo img {
  margin-top: -70px;
  width: 300px;
}

.footer-logo p {
  margin-top: 10px;
  font-size: small;
  width: 200px;
  color: #616884;
}

.footer-menu h3,
.footer-contacts h3,
.footer-linkus h3 {
  font-weight: 600;
  font-size: medium;
}

.footer-menu p {
  font-size: 13px;
}

.footer-menu p:hover {
  color: #117964;
}

.footer-contacts p {
  width: 160px;
  font-size: 13px;
}

.footer-linkus input {
  width: 520px;
  height: 50px;
  background: linear-gradient(273deg, rgba(226,226,226,1) 40%, rgba(245,245,245,1) 73%);
  border: none;
  border-radius: 30px;
  padding: 21px 45px 21px 40px;
  outline: none;
}

.footer-linkus {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.footer-linkus button {
  width: 150px;
  height: 40px;
  background-color: #f42c37;
  color: #FFF;
  text-transform: capitalize;
  letter-spacing: -.45px;
  font-weight: 400;
  transition: 300ms;
  border-radius: 25px;
  box-shadow: 0 5px 25px #F42C3740;
  position: absolute;
  top: 44px;
  right: 10px;
}

.footer-linkus button:hover {
  background-color: #1e0506;
}

/* Collection Page Styles */
.collection-box {
  max-width: 1920px;
  margin: 85px auto 0 auto;
  display: flex;
}

.collection-sidebar {
  width: 20%;
  padding: 10px;
}

.collection-sidebar-search {
  position: relative;
}

.collection-sidebar-search input {
  width: 90%;
  height: 40px;
  background: linear-gradient(90deg, rgba(226,226,226,1) 40%, rgba(245,245,245,1) 73%);
  border: none;
  border-radius: 30px;
  padding: 21px 45px 21px 20px;
  outline: none;
  font-size: 70%;
}

.collection-sidebar-search button {
  width: 35px;
  height: 35px;
  background-color: #f42c37;
  color: #FFF;
  text-transform: capitalize;
  letter-spacing: -.45px;
  font-weight: 400;
  transition: 300ms;
  border-radius: 50%;
  box-shadow: 0 5px 25px #F42C3740;
  position: absolute;
  top: 9%;
  right: 12%;
  padding-left: 2%;
}

.collection-sidebar-categories-toptext {
  font-size: large;
  font-weight: 700;
  margin-top: 20px;
}

.collection-sidebar-categories {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.non-selected {
  position: relative;
  cursor: pointer;
  transition: 400ms;
}

.selected {
  font-size: 17px;
  color: #f42c37;
}

.collection-top {
  width: 95%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-top-left {
  width: 50%;
}

.collection-top-left-head {
  font-size: x-large;
  font-weight: 700;
  margin-bottom: 5px;
}

.collection-top-right {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.collection-top-right-sort {
  height: 40px;
  background-color: #1e0506;
  color: #FFF;
  border-radius: 25px;
  padding: 5px;
}

.collection-top-right-sort-none {
  display: none;
}

.paginations-nav {
  position: relative;
}

.paginations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.page-item {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/* Responsive Styles */
@media screen and (max-width: 1770px) {
  .winter-collection-top img,
  .summer-collection-top img {
    width: 21%;
    left: 34%;
  }

  .winter-collection-top-text,
  .summer-collection-top-text {
    width: 35%;
  }

  .winter-collection,
  .summer-collection {
    width: 95%;
  }

  .footer {
    gap: 2%;
  }
}

@media screen and (max-width: 1440px) {
  
  .home-hero-img {
    width: 90%;
    height: 100%;
  }

  .home-hero-text {
    margin-right: -20px;
  }

  .home-hero-text-s {
    font-size: 35px;
  }

  .home-hero-text-m {
    font-size: 70px;
  }

  .home-hero-text-l {
    font-size: 135px;
  }
}

@media screen and (max-width: 1024px) {
  .winter-collection-top,
  .summer-collection-top {
    width: 95%;
    height: 350px;
    margin: 150px auto 20px auto;
    gap: 25%;
  }

  .winter-collection-top img,
  .summer-collection-top img {
    width: 25%;
    left: 19%;
    top: -70px;
  }

  .winter-collection-top-text,
  .summer-collection-top-text {
    width: 45%;
    margin-left: 10%;
  }

  .footer-linkus input {
    width: 400px;
  }

  .footer-logo img {
    width: 200px;
  }
  .home-hero-text-l{
    font-size: 110px;
  }
}

@media screen and (max-width: 850px) {
  .home {
    overflow-x: hidden;
  }

  .home-hero {
    padding: 25px;
  }

  .home-hero-img {
    width: 100%;
  }

  .home-hero-text {
    margin-top: 100px;
  }

  .home-hero-text-s {
    font-size: 20px;
  }

  .home-hero-text-m {
    font-size: 40px;
  }

  .home-hero-text-l {
    font-size: 60px;
  }

  .home-ourserv-box {
    margin: 70px auto 0 auto;
    padding-bottom: 150px;
  }

  .home-ourserv-list {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 0px;
  }

  .home-ourserv-list-item {
    width: 70%;
    height: 150px;
    gap: 15px;
  }

  .winter-collection-top,
  .summer-collection-top {
    flex-direction: column-reverse;
    width: 90%;
    height: 600px;
    margin: 120px auto 20px auto;
    gap: 0px;
  }

  .winter-collection-top img,
  .summer-collection-top img {
    width: 400px;
    top: -200px;
    left: auto;
  }

  .winter-collection-top h2,
  .summer-collection-top h2 {
    display: none;
  }

  .winter-collection-top span,
  .summer-collection-top span {
    display: none;
  }

  .winter-collection-top-text,
  .summer-collection-top-text {
    width: 100%;
    margin-top: 200px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .winter-collection,
  .summer-collection {
    grid-template-columns: auto auto auto;
  }

  .winter-collection-btn,
  .summer-collection-btn {
    margin-top: 50px;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-logo img {
    width: 15%;
    margin: 0 auto;
  }

  .footer-logo p {
    width: 80%;
    text-align: center;
    margin: 50px auto;
  }

  .footer-menu {
    width: 70%;
    text-align: center;
  }

  .footer-menu-cont {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 50px auto;
  }

  .footer-contacts p {
    width: 50%;
    margin: 0 auto 50px auto;
  }

  .footer-linkus {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .collection-box {
    flex-direction: column;
  }

  .collection-sidebar {
    width: 100%;
    flex-direction: column-reverse;
  }

  .collection-sidebar-categories-toptext {
    display: none;
  }

  .collection-sidebar-categories {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto;
  }

  .collection-sidebar-search input {
    width: 100%;
  }

  .collection-sidebar-search button {
    right: 5px;
    padding-left: 1%;
  }

  .non-selected {
    box-shadow: 0px 0px 20px rgb(229, 229, 229);
    border-radius: 15px;
    padding: 5px;
  }

  .selected {
    box-shadow: 0px 0px 20px rgb(232, 203, 203);
  }

  .collection {
    width: 100%;
    margin-left: 5%;
  }

  .collection-list {
    grid-template-columns: auto auto auto;
  }

  .collection-item img {
    width: 70%;
    height: 70%;
  }

  .collection-item h4 {
    font-size: small;
  }
}

@media screen and (max-width: 550px) {
  .home-hero {
    padding: 0;
    height: 70%;
  }

  .home-hero-text {
    margin-top: 220px;
    margin-right: 10px;
  }

  .home-ourserv-list {
    grid-template-columns: auto;
  }

  .home-ourserv-list-item {
    width: 100%;
    margin-left: 10px;
    gap: 10px;
  }

  .winter-collection-top img,
  .summer-collection-top img {
    width: 300px;
    top: -70px;
  }

  .winter-collection-top-text,
  .summer-collection-top-text {
    width: 90%;
    margin-top: 240px;
  }

  .winter-collection,
  .summer-collection {
    grid-template-columns: auto;
  }

  .collection-top {
    flex-direction: column;
    height: 100px;
  }

  .collection-top-left,
  .collection-top-right {
    width: 100%;
  }

  .collection-top-left-head {
    font-size: large;
  }

  .collection-top-left-shows p {
    font-size: small;
  }

  .collection-top-right-sort {
    font-size: small;
  }

  .paginations {
    gap: 17px;
  }
}

@media screen and (max-width: 426px) {
  .collection-sidebar-categories {
    position: fixed;
    left: 0;
    bottom: -10px;
    background-color: #FFF;
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 20px rgb(230, 229, 229);
  }

  .collection-sidebar-categories h2 {
    font-size: 65%;
    box-shadow: none;
    border-radius: 15px;
    padding: 5px;
  }

  .collection {
    width: 80%;
  }

  .collection-list {
    grid-template-columns: auto;
    padding-left: 10%;
  }

  .collection-item img {
    width: 90%;
    height: 70%;
  }
}